* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #000000;
    color: #fff;
    margin: 50px;

}

img{
    width: 300px;
    height: 250px;
    margin: 20px;
}

h1{
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 50px;

}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}