



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root{
    --bg--color: #0c0c0c;
    --text-color: #fff;
    --main-color: #ae8957;

    --big-font: 6.6rem;
    --p-font: 1rem;
}

body{
    background: var(--bg--color);
    color: var(--text-color);
}
    /* Cabeçalho */
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 80px;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px; /* Ajuste o tamanho aqui */
    height: auto;
  }