/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline red;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.section1{
    height: 30px;

    border: 3px solid black;
    margin: 10px 15px;

}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #1f1f1f;
}

body.dark-mode button {
    background-color: #1c18ff;
}

body.dark-mode button:hover {
    background-color: #ffffff;
}
